@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  color-scheme: light only;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Asire tout tèks nan input yo toujou fonse ak lizib */
input, textarea, select {
  color: #171717;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}